/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: white;
  color: white;
  padding: 15px;
}

.pied {
  background-color: white;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

/*Tableau
.ligne_tab{
  width:12%;
  text-align: center;
}

/* On travaille sur la balise body, donc sur TOUTE la page */
.body{
    background-color: #525659; /* Le fond de la page sera noir */
    color:white;
}

.cadre_gauche{
    background-color: #525659;
    color:white;
}

.cadre_droite{
    color:black;
}

a{
  color:#777777;
}

/*---Pied de page---*/
footer{
  background-color: #F8F8F8;
  color:#777777;
}
/*---/Pied de page---*/

/*---Navbar---*/
.navbar li a, .navbar .navbar-brand {
    color: #777777 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #777777 !important;
    background-color: #DDDDDD !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#txtBowling {
  width: 60%;
  font-size: 18px;
}

#compteur {
  font-size: 26px;
  color: green;
}

#compteur2 {
  font-size: 26px;
  color: green;
}

#compteur3 {
  font-size: 26px;
  color: green;
}

a:link {
  color: black;
}

.ligne_tab {
  font-size: 18px;

}
/*---/Navbar---*/
